# WeiHungChen,[NBQ-787]:Modify selinux for the audio selftest of FQC
import /init.fih.fqcaudio.rc
# WeiHungChen,[NBQ-127]:porting smart Amp.
import /init.nbq.smartamp.rc
# NBQ - [06-701]

#BudaChiou added for NBQ screen mode
import /init.nbq.lcm.rc

# msm specific files that need to be created on /data
on post-fs-data
    mkdir /data/nfc
    mkdir /etc/param
    start nfc-default-sh

# permissions for NFC
on boot
    setprop ro.nfc.port "I2C"
    chmod 0660 /dev/pn544
    chown nfc nfc /dev/pn544
	chmod 0666 /dev/fpc1020
	chown system system /dev/fpc1020

service nfc-default-sh /system/bin/sh /init.nfc_default.sh
    disabled
    class core
    user root
    oneshot

    # execute script to set initial CPU settings
    # don't run as a service to avoid race conditions
    exec - root root system -- /system/bin/init.robin.power.sh
